.super-mario {
    width: 200px;
    position: absolute;
    z-index: 3;
    top: 120px;
    left: 180px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 4;
    top: 380px;
    left: 250px;

  }
  
  .baloon {
    width: 280px;
    position: absolute;
    z-index: 1;
    top: 220px;
    left: 535px;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 2;
    top: 250px;
    left: 550px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 360px;
    left: 788px;
  }